{% extends 'base.html' %}
{%block title%}Product_Info{%endblock%}

{%block content%}
<div id="productapp">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            {% if product.category.parent %}
                <li><a href="{% url 'category_detail' product.category.parent.slug %}">{{ product.category.parent.title }}</a></li>
            {% endif %}
            <li><a href="{% url 'category_detail' product.category.slug %}">{{ product.category.title }}</a></li>
            <li class="is-active"><a href="{% url 'Product_details_view' product.category.slug product.slug %}">{{ product.title }}</a></li>
        </ul>
    </nav>

    <div class="columns">
        <div class="column is-4">
            <figure class="image is-4by3">
                <img src="/media/{{product.image}}">
            </figure>
        </div>
    </div>
    <hr>
    <h1 class="title">{{ product.title }}</h1>
    <h2 class="subtitle">Bdt:{{ product.product_price }}, Stars: {% if product.get_rating == 0 %}No ratings yet{% else %}
        {{ product.get_rating|floatformat:1 }}{% endif %}</h2>

    {% if product.product_description %}
        <p>{{ product.product_description }}</p>
    {% endif %}
    <button @click="addtocart({{product.id}},{{product.product_price}})">Add to Cart</button>

     <article class="message is-success" v-if="show_message" >
      <div class="message-body">
        This Product was successfully added to your cart !!
      </div>
    </article>
</div>

{%endblock%}

{%block scripts%}
<script>
    var productapp= new Vue({
        el : '#productapp',
        store: store,
        data(){

            return{
                    show_message : false

            }

        },
        methods: {
            addtocart(product_id, product_price){
                console.log('working');
                var data = {
                    'product_id': product_id,
                    'update': false,
                    'quantity': 1,
                    'product_price': product_price

                };
                store.commit('increment', 1);
                store.commit('change_total_cost', parseFloat(product_price));


                fetch('/Products/api/api_add_to_cart', {  // Note the leading slash
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{csrf_token}}'
                    },
                    credentials: "same-origin",
                    body: JSON.stringify(data)
                })
                .then((response) => {
                    console.log(response);
                    this.show_message = true

                    setTimeout(()=> {
                        this.show_message = false
                    }, 2000)
                })
                .catch(function (error) {
                    console.log('Error:', error);
                });
                
            }
        },

 });


</script>

{%endblock%}